.container{
  width:auto;
}

.tab{
  padding-left:2.5rem;
  padding-right:1.5rem;

}

.breadcrumb{
      list-style: none;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    align-items: center;
}
.breadcrumb li{
  padding:0px 5px;
}
.breadcrumb li:first-child{
  cursor:pointer;
  color:#3f51b5;
  padding-left:0;
  margin:0;
}

.description{
  width:100%;
  padding-left:14px;
}

.titles{
  padding-left:1.0rem;
}
.content{
  padding:0 1.0rem;
}