<div class="mat-elevation-z4" style="text-align:right;padding-top:10px">

</div>
<div class="grid">

	<ng-container *ngFor="let item of sideNavMenuData">

		<ng-container *ngIf="item.hasSubMenu == false">
			<div matRipple class="card-container mat-elevation-z4 card-item">{{item.header}}</div>

		</ng-container>
		<ng-container *ngIf="item.hasSubMenu == true">

			<mat-accordion class="flex-item" multi>
				<mat-expansion-panel class="mat-elevation-z4 card-item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
					<mat-expansion-panel-header>
						<mat-panel-title>
						{{item.header}}
						</mat-panel-title>
						<mat-panel-description>
							<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
           
						</mat-panel-description>
             
					</mat-expansion-panel-header>
         
          <div style="padding:10px 2px;cursor:pointer;text-align:justify;" matRipple *ngFor="let sub of item.subMenu">
            <span>{{sub.header}}
            </span>
            </div>

          <!-- <mat-action-row>
            <mat-hint>Last updated {{}}</mat-hint>
          </mat-action-row> -->
				</mat-expansion-panel>
       
			</mat-accordion>

		</ng-container>


	</ng-container>

</div>